#red {
    color: red
}

#blue {
    color: rgb(0, 140, 255)
}

#orange {
    color: rgb(255, 145, 0)
}

#green {
    color: green
}

#yellow {
    color: yellow
}

img {
    width: 100%;
    height: 128px;
}

.color-title {
    font-weight: normal;
}