body {
  background-color: black;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

#meme_img {
  width: fit-content;
  border: 5px solid white;
}