* {
  background-color: #fff1e4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-wrap: balance;
  text-align: left;
}

#main_menu{
  height: 64pt;
  width: 100%;
  padding-left: 0;
  background-color: rgb(13, 81, 191);
}

p, article, main {
  line-height: 1.6;
  margin: 0;
}

#downloadview_resume_stribe {
  text-align: center;
}

#detailed_view_button {
  margin: 8px;
  text-align: center;
}

h1, h2, h3 {
  color: #023047;
  text-shadow: 0px 0px 10px #c7c7c7;
}

#language_images {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

img {
  vertical-align: middle;
}

nav {
  text-align: center;
}

